/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    padding-left: 10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 400px;
}

nav button {
    padding: 10px;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
}

nav label {
    font-size: 1.5rem;
    margin-right: 10px;
}

nav select {
    font-size: 1.5rem;
    padding: 2px;
    border-radius: 10px;
}

.game {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 235, 144);
    color: rgb(0, 0, 0);
}

.hidden {
    display: none;
}

.size {
    font-size: 2rem;
    padding-left: 20px;
}

.lose {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(166, 235, 144);
    color: rgb(0, 0, 0);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.easy,
.mid,
.hard {
    font-size: 1.5rem;
    aspect-ratio: 1;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy {
    width: calc(100% / 10);
}

.mid {
    width: calc(100% / 9);
}

.hard {
    width: calc(100% / 7);
}

.l-blue {
    background-color: rgb(32, 186, 197);
}

.red {
    background-color: rgb(197, 59, 32);
}

footer {
    display: flex;
    align-items: center;
    height: 5vh;
    padding-left: 20px;
}